body {
  font-family : 'Roboto',
                sans-serif;
}

.container {
  display        : flex;
  align-items    : center;
  flex-direction : column;
}

.card {
  margin-bottom    : 2rem;
  padding          : 1rem 4rem;
  background-color : #e5e5e5;
  box-shadow       : 0 3px 6px rgba(0, 0, 0, 0.16),
                     0 3px 6px rgba(0, 0, 0, 0.23);
}

.card h1 {
  text-align : center;
}

button {
  margin           : 2px 6px;
  padding          : 10px 24px;
  color            : #fff;
  border           : none;
  border-radius    : 3px;
  background-color : #4880DF;
  font-size        : 1em;
  transition       : all 0.15s ease;
}

button:hover {
  background-color : #416BB2;
  cursor           : pointer;
}

input {
  -webkit-appearance : none;
  padding            : 8px 0;
  color              : #223254;
  border             : 0;
  border-bottom      : 2px solid #c8ccd4;
  border-radius      : 0;
  background         : none;
  font-family        : inherit;
  font-size          : 1em;
  font-weight        : 500;
}

input:hover {
  background : rgba(34,50,84,0.03);
}

input:focus {
  background : none;
  outline    : none;
}
